*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:Arial, Helvetica, sans-serif;
}
.container-fluid{
   background-color: #141212;
   width: 100%;
   height: 100vh;
}
.bor{
    border-radius: 20px;
}
.music_container{
    box-shadow: 1px 0px 12px 5px rgba(191,184,184,0.75);
    -webkit-box-shadow: 1px 0px 12px 5px rgba(191,184,184,0.75);
    -moz-box-shadow: 1px 0px 12px 5px rgba(191,184,184,0.75);
    
    /* background-color: #f6f6f6; */
    background-color: #FEFBF3;
   
}
.music_controls{
   width: 20rem;
   height: 10rem;
   display: flex;
   justify-content: space-between;
   margin: auto;
   align-items: center;
}
.fas{
    font-size:2rem ;
    cursor: pointer;
}
.fas:hover{
    color: gray;
}
.main_btn{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: black;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.main_btn:hover{
    background-color: #f6f6f6;
    color: #111;
   transition: all .7s ease-in-out;
    box-shadow: 0rem .4rem 2rem 0.2rem rgba(0, 0, 0, 0.603);
}
img{
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.75);
 border-radius: 50%;
     
}

#title{

}
#artist{
    opacity: .7;
}






/* creating a class */



.anime{
  animation: roatateimg 3s linear  infinite;
}

@keyframes roatateimg{
   
     from{
     transform: rotate(0deg); 
     }
     to{
     transform: rotate(360deg);


    
     }
    
 
}

/* .rotate{
  animation: roatatecontainer .2s linear  infinite;

}

@keyframes roatatecontainer{
    from{
   transform: rotate(0deg);
    }
    to{
    transform: rotate(360deg);
    }
} */
.progressbar_container{
    width: 90%;
    height: auto;
    padding: 0.5rem 0;
    margin-top:1rem;
    margin: auto;
   }


.progress_div{
    width:100%;
    height: 0.5rem;
    border-radius: 4rem;
    position: relative;
    margin-top: 0.5rem;
    transition: all 0.4s linear;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) , 0 1px 2px rgba(0, 0, 0, 0.07),0 1px 2px rgba(0, 0, 0, 0.07),0 1px 2px rgba(0, 0, 0, 0.07);
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #000;
    transition: all .1s linear;
    cursor: pointer;
}

  .progress_duration_meter
   {
     display: flex;
     justify-content: space-between;
     font-size: 1.2rem;
   }


  


